<div class="container">

<h1>Lists</h1>
<p>The best movie list</p>
<ul>
  <% @lists.each do |list| %>
    <div class="container" style="flex">
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    </div>
  <% end %>
</ul>

<%= link_to "Create a new list", new_list_path, class: "btn btn-primary" %>

</div>